$nav_color: #010111;
$nav_hover-color: rgba(255, 0, 0, 0.741);
$heading_color: #0d0d2d;
$search_button-color: rgba(255, 0, 0, 0.741);
$search_text-color: white;
$search_inputText-color: rgba(173, 216, 230, 0.73);
$text-color: #01010cf3;
$div_background-color: pink;
$font-family: 'Titan One', cursive;
$font-family1: 'Arimo', sans-serif;
